.container{
    background-color: #616161;
    background: repeating-linear-gradient( -45deg, #474747, #474747 12.5px, #616161 12.5px, #616161 62.5px );

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    min-height: 100vh;
    align-items: flex-start;
}